<!DOCTYPE html>
{% load staticfiles %}
<html>
    {% if user.is_authenticated %}
    <head>
        <title>♥️비밀 공간♥️</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    </head>
	<body>
        <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'calendar' %}" class="top-menu"><span class="glyphicon glyphicon-calendar"></span></a>
            <div class="logo">
                <img src= "{% static 'img/Logo.jpg' %}" width="110" height="110" >
            </div>
            
            <h1>
            <a href="{% url 'post_list' %}">
                Making Game with JS
            </a>
                
            </h1>
            
            <h2>
                게임만들기가 가장 잼남
            </h2>
            
        </div>
		
        
        <div class="content-container">
            <div class="row">
                <div class="col-md-8" >
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
		</div>
	</body>
    {% endif %}
</html>
