{% extends 'blog/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FSeoul&amp;src=cm9oc2lrMkBnbWFpbC5jb20&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=eXVyaWdvb215a2lkNTA1QGdtYWlsLmNvbQ&amp;src=a28uc291dGhfa29yZWEjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23336699&amp;color=%23329262&amp;color=%239F3501&amp;color=%23227F63" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    {% endif %}
{% endblock %}