{% load staticfiles %}
<!DOCTYPE html>
  <html lang='ko'>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
      
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.min.js'%}"></script>
    <script src="{% static 'js/base.js'%}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
  </head>
      
<body>
     <div class="container">
        <ul id="slide-out" class="sidenav" style='width : 200px'>
            <li>
            <div class="user-view">
              <div class="background">
                <img src="{% static 'images/Logo.jpg' %}">
              </div>
            {% if user.authenticated %}
              <a href="/account/sign_in"><span class="white-text name">user.name</span></a>
              <a href="#!email"><span class="white-text email">user.email</span></a>
            {% else %}
                <a href="/account/login"><span class="white-text name">로그인을 해주세요</span></a>
            {% endif %}
            </div>
            </li>

            <!--<li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li> -->
            <!--
            <li><div class="divider"></div></li>
            <li><a class="subheader">휴가</a></li>
            <li><a class="waves-effect" a href="/handbook">휴가 핸드북</a></li>
            <li><a class="waves-effect" a href="/questionaire">3일 문진표</a></li>
            <li><a class="waves-effect" a href='/'>전우들의 휴가</a></li>
             -->
            <li><div class="divider"></div></li>
            <li><a class="subheader">병영생활</a></li>
            <li><a class="waves-effect" a href="/food">오늘의 밥</a></li>
            <li><a class="waves-effect" a href="/worker">내일 근무</a></li>
            <li><a class="waves-effect" a href="/blog">전파 사항</a></li>
        </ul>
        <div class="row header">
            <div class="col s2">
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons md-48">menu</i></a>
                </div>

                <div class="col s8" style="text-align : center">
                    <a href="/" style="color:black">
                    <h2>
                        휴가플래너
                    </h2>
                    </a>
                    
                </div>

                <div class="col s2">
                    <img src= "{% static 'images/Logo.jpg' %}" style="width : 100%; max-width : 120px; ">
                </div>


        </div>
        <div class = "content">
            {% block content %}
            {% endblock %}
        </div> 
        
        <div class="footer">
            <h9>
                made by 노현욱
            </h9>
        </div>
    </div>
        

</body>
</html>
