{% extends 'army_vacation/base.html' %}
{% load staticfiles %}
{% block content %}
<div class='row'>
    <div class="background col s12 l6" style="align : center;">
    <img src="{% static 'images/rice.jpg' %}" width='80%' height='80%'>
</div>
<div class='food_ment col s12 l6' style="margin-top : 30px">
    
    <div class="divider"></div>
      <div class="section">
        <h5>아침밥</h5>
        <p>{% for food in today_food %}
        {{food.breakfast}},	
        {% endfor %}
          </p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>점심밥</h5>
        <p>{% for food in today_food %}
        {{food.lunch}},	
        {% endfor %}
          </p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h5>저녁밥</h5>
        <p>{% for food in today_food %}
        {{food.dinner}},	
        {% endfor %}
          </p>
      </div>
    
</div>

</div>


{% endblock %}