{% extends 'army_vacation/base.html' %}

{% block content %}
<table class='striped'>
        <thead>
          <tr>
              <th>휴가 종류</th>
              <th>사용 일수</th>
              <th>남은 일수</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>연  가</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>포상휴가</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>위로휴가</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>
<iframe src="https://calendar.google.com/calendar/embed?src=b5p1ou9gh66jmrhftbl05c992s%40group.calendar.google.com&ctz=Asia%2FSeoul" style="border: 0" width="100%" height = '600' frameborder="0" scrolling="no"></iframe>


{% endblock %}