.header{
    font-family: 'Black Han Sans', sans-serif;
    background:#f0e6e5;
    width:100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.material-icons.md-48 { font-size: 48px; }



.title{
}

.logo{
}

.banner img{
    width:100%
}

.h1{
    font-size:1.8em;
}
.h2{
    align-content:left;
    font-size : 10px;
}
.content{
    margin-top : 140px;
}
.footer{
    
}

select{
    display : unset; !important
}
